GEMINI_API_KEY=api_key
ELASTICSEARCH_URL=https://127.0.0.1:9200/
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=password

# Set these to the names in your existing index mapping.
ELASTICSEARCH_INDEX=index_name
ELASTICSEARCH_VECTOR_FIELD=embedding
ELASTICSEARCH_TEXT_FIELD=content
